#{extends 'main.html' /}
#{set title:'Home' /}

<ul id="menu" class="clearfix">
	
	
	<li><a href="@{Minified.index}">Minified Responses</a></li>
	<li><a href="@{Gzipped.index}">Gzipped Responses</a></li>
	<li><a href="@{MinifiedAndGzipped.index}">Gzipped and minified Responses</a></li>
	<li><a href="@{Exclusion.index}">Exclusions</a></li>
	<li><a href="@{Continuation.index}">Continuation (Async Jobs)</a></li>
</ul>

<div id="siteinfotext">${text}</div>

	<h1>Minifymod</h1>

	<h2>Response optimization for Play</h2>

	<h2>Description</h2>

	<p>Since Play 1.2.x has no build in support for response optimization like minify and gzip responses this module adds this functionality using the <span class="caps">YUI</span> Compressor and googles htmlcompressor.</p>

	<p>The latest version of this module can be fetched from github : <a href="https://github.com/maklemenz/play-minifymod">https://github.com/maklemenz/play-minifymod</a></p>

	<h2>How To Use It</h2>

	<p>Let&#8217;s say you have a simple controller wich delivers a hugh site:</p>

<pre><code>public class MustBeOptimized extends Controller {
	public static void renderMyHughTemplate() {
		render(&#34;largeSite.html&#34;);
	}
}
</code></pre>

	<h3>Minify the response</h3>

	<p>If you want it to get delivered minimized for example by removing unnecessary whitespaces, you just have to add a single line</p>

<pre><code>@With(MinifyResponse.class)
public class IsABitOptimized extends Controller {
	public static void renderMyHughTemplate() {
		render(&#34;largeSite.html&#34;);
	}
}
</code></pre>

	<h3>Gzip the response</h3>

	<p>If you want it to get delivered gezipped, you just have to add another single line:</p>

<pre><code>@With(GzipResponse.class)
public class ABitMoreOptimized extends Controller {
	public static void renderMyHughTemplate() {
		render(&#34;largeSite.html&#34;);
	}
}
</code></pre>

	<h3>Minify and gzip the response</h3>

	<p>However, response size will be reduced most by doing both optimizations:</p>

<pre><code>@With(MinifyAndGzipResponse.class)
public class Optimized extends Controller {
	public static void renderMyHughTemplate() {
		render(&#34;largeSite.html&#34;);
	}
}
</code></pre>

	<h3>Exclusions</h3>

	<p>Sometimes it is necessary to exclude one or two methods which for example delivers images or binarys. This can be done in two ways:</p>

	<ol>
		<li>call Compression.excludeAction(request.action); in this action which is the same as &#8220;Controller.method&#8221; wich is the most fast and easy way. In fact it puts a variable in the renderArgs</li>
		<li>extend one of the tree classes (or all) and override isExcluded() which can be the most performant way since if it returns false all the way, it won&#8217;t check the renderArgs for a specific value for each request</li>
	</ol>

	<h2>Some extras for you</h2>

	<p>Since you probably want to use caching in your application, you can use the methods of the Compression.class like compressHtml(String html) or compressCss(String css), ..js, ..xml</p>

	<h2>Configuration</h2>

	<p>The configuration is pretty self explaining. This are the keys. They are all in their default state, so it is not necessary to include this in your application.conf if you don&#8217;t want to change the settings</p>

<pre><code>minifymod.moduleEnabled = true
minifymod.moduleDisabledOnDev = false
minifymod.minifyEnabled = true
minifymod.gzipEnabled = true
</code></pre>

	<h2>Planned features</h2>

	<p>Just leave a comment and I will see what I can do</p>
	